.icon-arrow {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 3rem; /* Ukuran ikon */
  aspect-ratio: 1;
  font-size: 1.5rem;
  color: #636363;
  background-color: #2b2b2b;
  border-radius: 50%;
  transition: color 0.6s 0.3s ease-in-out;
}

.icon-arrow::before,
.icon-arrow::after {
  position: absolute;
  z-index: -1;
  content: "";
  inset: -5px;
  border-radius: inherit;
  background: conic-gradient(currentColor var(--fill), transparent var(--fill));
  transition: --fill 0.6s 0.3s ease-in-out;
}

.icon-arrow:hover,
.icon-arrow:focus-visible,
.icon-arrow:focus-within {
  color: greenyellow;
  outline: 1px solid transparent;
}

.icon-arrow:hover,
.icon-arrow:hover::before,
.icon-arrow:hover::after {
  transition-delay: 0s;
}

/* Efek saat hover */
.icon-arrow:hover {
  --fill: 100%;
}

.icon-arrow::after {
  display: none;
}
